/**** LANDING ****/

#landing {
	width: 100%;
	height: 1000px;
	background-image: url('https://pixabay.com/get/e135b0062af51c22d9584518a33219c8b66ae3d11fb0184696f8c17f/typewriter-801921_1920.jpg');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	#title {
		padding-top: 400px;
	}
}


/**** ABOUT SECTION ****/

.aboutSection {
	margin: 50px auto;
	height: 300px;
	width: 90%;
}

#about {
	background-color: orange;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.aboutItem {
		width: 30%;
	}
	#profPic {
		max-width: 275px;
	}

}

/**** PORTFOLIO ****/

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolioPiece {
	width: 200px;
	height: 200px;
	transition: all .2s ease-in-out;
	flex-grow: 1;
}


/**** BUTTONS ****/

a:focus {
	color: tomato;
	text-decoration: none;
}

.activeLink {
	color: tomato;
}