$path: '/Users/Tim/Programming/projects';
$headerFont: 'Playfair Display', serif;
$pFont: 'Open Sans Condensed', sans-serif;
$specialFont: 'Radley', serif;
$blue: #1461A2;
/**** GENERAL/FONTS/HEADINGS/NAV ****/

#app {
	padding: 0;
}

nav div, .navbar-default {
	background-color: white;	
}

.navbar-default .navbar-nav > li > a {
    color: #444;
    letter-spacing: .2em;
    transition: all .3s ease;
    &:hover {
    	color: $blue;
    }
}

#brand {
	color: #444;
	font-size: 2em;
	margin-top: 6px;
}

.heading {
	font-family: $headerFont;
	text-align: center;
	margin: 60px;
}

h3.heading {
	font-size: 2.5em;
	border-bottom: 1px solid black;
	padding-bottom: 50px;
}

h1.heading {
	font-size: 5em;
	text-shadow: 2px 2px 5px black;
	margin-bottom: 15px;
}

#skillsTitle h3 {
	color: white;
	text-shadow: 
	-1px -1px black, 
	1px 1px black, 
	-1px 1px black, 
	1px -1px black;
}

p, h4, button, a, h3 {
	font-family: $pFont;
	font-size: 1.3em;
}


	// Animations for React Router shifts

.pageShift-enter {
	opacity: 0.01;
}

.pageShift-enter.pageShift-enter-active {
	transition-property: opacity;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	opacity: 1;
}

.pageShift-leave {
	opacity: 1;
	transition: all 500ms ease-in-out;
}

.pageShift-enter.pageShift-leave-active {
	opacity: 0.01;
}

.continue {
	clear: both;
	width: 150px;
	margin: 40px auto;
	padding-top: 50px;
	transition: all 1s ease-in;
	text-align: center;
	font-size: 1.5em;
	i {
		transition: all .2s ease-in-out;
		color: #444;
		&:hover {
			color: $blue; 
			transform: translateX(15px);
		}
	}
}


/**** LANDING ****/


#landing {
	width: 100%;
	height: 100vh;
	background-image: url('./landing.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
	text-align: center;
	color: white;
	box-shadow: 0px 0px 16px black;
	#title {
		padding-top: 400px;
		h3 {
			font-family: $specialFont;
			font-style: italic;
			border-bottom: 1px solid white;
			padding-bottom: 50px;
			text-shadow: 1px 1px 2px black;
			font-size: 2em;
		}
	}
}


/**** ABOUT ****/


.about {
	margin: 80px auto;
	height: 300px;
	width: 90%;
}

#bio {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 500px;
	transition: all 1s ease;
	#leftPar {
		padding-left: 15px;
	}
	#rightPar {
		padding-right: 15px;
	}
	.aboutItem {
		width: 30%;
	}
	#profPic {
		max-width: 340px;
	}
}
.skillHolder {

	.skillTitle {
		display: inline-block;
		width: 12%;
	}
	
	.progressBar {
		background-color: #666;
		opacity: .8;
		width: 84%;
		border-radius: 35px;
		height: 25px;
		display: inline-block;
		border: 1px solid black;

		
		.bar {
			height: 15px;
			position: relative;
			top: 5px;
			left: 5px;
			border-radius: 10px;
			transition: all 1s ease-in-out;
			background-color: white; 
			border: 1px solid $blue;
		}
	}

	
}

/**** PORTFOLIO ****/

.portfolioPage {
	h1 {
		margin: 75px auto 50px auto;
		border-bottom: 1px solid black;
		padding-bottom: 25px;
	}
	.portfolio {
		box-shadow: 0px 0px 20px black;
	}
}


.portfolioPiece{
	margin: 3px;
	float: right;
	text-align: center;
	width: 32%;
	height: 32%;
	transition: all .3s ease;
	display: inline-block;
	background-position: 0 0;
	background-size: cover;
	&:hover {

	}
	.portHover {
		padding-top: 50px;
		text-align: center;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity .5s ease;
		background-color: black;
		color: white;
		a {
			color: white;	
		}
		i {
			padding: 8px;
			transition: all .5s ease;
			&:hover {
				color: $blue;
				
			}
		}
		h3 {
			font-size: 2em;
			font-weight: bold;
		}
		p {
			margin-top: 25px;
		}
		&:hover {
			opacity: .8
		}
	}
}

/**** CONTACT ****/

.contact {
	height: 100vh;
}

.btn-grp {
	text-align: center;
	display: flex;
	justify-content: center;
	i {
		padding-right: 5px;
	}
	
}

.btn-lg {
		display: block;
		margin: 5px;
		text-decoration: none;
		transition: all .3s ease;
		&:hover {
			background-color: white;
			color: #337ab7;
	}	
}

.email-form-group {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	h3 {
		width: 100%;
		margin: 20px auto;
	}
	.email-message {
		box-shadow: 0px 0px 8px black;	
		transition: all .5s ease;
		border: none;
		resize: none;
		overflow: auto;
		outline: none;
		width: 0px;
		height: 0px;
		font-family: $pFont;
		font-size: 1.5em;
	}
	.btn-info {
		border: none;
		outline: none;
		width: 70px;
		display: block;
		height: 60px;
		margin: 10px auto;
		transition: all .3s ease;
	}
	
}



/**** BUTTONS ****/


/**** RESPONSIVE ****/

@media (max-width: 795px) {
	.portfolioPiece {
		width: 48%;
	}
	#bio {
		flex-direction: column;
		height: 500px;
		.aboutItem {
			width: 90%;	
			margin: 15px auto;		
		}
		#leftPar {
				padding: 0;
		}
		#rightPar {
			padding: 0;
		}
		#profPic {
			max-width: 300px;
		}
	}
	.skillsSection {
		margin-top: 350px;
	}
}

@media (max-width: 546px) {

	.nav {
		text-align: center;

	}
	
	// Home/About
	
	.skillsSection {
		margin-top: 450px;
	}

	.skillHolder {

		.skillTitle {
			width: 25%;
		}
		.progressBar {
			width: 75%;
		}
	}

	h1.heading {
			font-size: 4em;
		}
	
	
	//Portfolio 
	.portfolioPiece {
		width: 98%;
	}
	
	//Contact 

	.btn-grp {
		display: flex;
		flex-direction: column;
	}

	.email-form-group {
		padding-right: 15px;
		margin: 5px auto;
		width: 75vw;
	}
}